# The purpose of this config is to provide an emergency stop mechanism for misaligned axes
# A misalignment might be caused by an obstruction in the path of a gantry or the stalling of one actuator on an axis

[emergency_stop x_axis_alignment]
kill_pin: host:gpiochip4/gpio18


[emergency_stop y_axis_alignment]
kill_pin: host:gpiochip4/gpio18


[emergency_stop bed_alignment]
kill_pin: host:gpiochip4/gpio18
