[include mainsail.cfg]
[include config/config_management.cfg]
[include config/gcode.cfg]
[include config/controller/controller.cfg]
[include config/kinematics/kinematics.cfg]
[include config/carriage_management/carriage_management.cfg]
[include config/3d_printing/3d_printing.cfg]
[include config/plotting/plotting.cfg]
# [include config/cutting/cutting.cfg]
# [include timelapse.cfg]