[gcode_macro Align_Probe]
gcode:
  G90
  G0 X11 Y0 F2040

[gcode_macro Load_Probe]
gcode:
  Align_Probe
  _Load_Front_Tool

[gcode_macro Unload_Probe]
gcode:
    Align_Probe
    _Unload_Front_Tool


[probe]
pin: PG10
# deactivate_on_each_sample: False
x_offset: 0.0
y_offset: 0.0
z_offset: 0.0
speed: 5.0
samples: 1
sample_retract_dist: 5.0
#lift_speed:
#   Speed (in mm/s) of the Z axis when lifting the probe between
#   samples. The default is to use the same value as the 'speed'
#   parameter.
samples_result: average
samples_tolerance: 0.100
#samples_tolerance_retries: 0
#   The number of times to retry if a sample is found that exceeds
#   samples_tolerance. On a retry, all current samples are discarded
#   and the probe attempt is restarted. If a valid set of samples are
#   not obtained in the given number of retries then an error is
#   reported. The default is zero which causes an error to be reported
#   on the first sample that exceeds samples_tolerance.
# activate_gcode:
#   A list of G-Code commands to execute prior to each probe attempt.
#   See docs/Command_Templates.md for G-Code format. This may be
#   useful if the probe needs to be activated in some way. Do not
#   issue any commands here that move the toolhead (eg, G1). The
#   default is to not run any special G-Code commands on activation.
# deactivate_gcode:
#   A list of G-Code commands to execute after each probe attempt
#   completes. See docs/Command_Templates.md for G-Code format. Do not
#   issue any commands here that move the toolhead. The default is to
#   not run any special G-Code commands on deactivation.
